/* base styles */
*{
	box-sizing: border-box;
	font-family: helvetica, arial, sans-serif;
}

.navbar-brand h1{
	font-family: Arial, sans-serif;
	color: #4682b4;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

#nav-list{
	margin-bottom: 0px;
	margin-top: 0px;
}

#nav-list li { 
	border-bottom: 1px solid #000000;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #428bca;
}

#nav-list > li:hover{
	background-color: white;
}

#nav-list a{
	color: black;
}

#nav-list a:hover{
	text-decoration:none;
}

section{
	background-color: #FFF5EE;
	position: relative;
	padding: 10px;
	height: auto;
}

div.col-md-4, div.col-sm-12, div.col-xs-12{
	padding: 5px 5px 5px 5px;
}
